// ============================================================================
// COLORS

$black: #000;
$white: #fff;
$red:   #ff3a30; // remove contact icon red
$blue:  #0463e1; // selected contact

$listBackgroundGray: #e1e2e4; // contact list background
$listSeparatorGray:  #c7c7c7; // contact list cathegory separator
$listCathegoryGray:  #737373; // contact list cathegory title

$contactFontGray:      #808080; // contact font gray
$contactBorderGray:    #cdcdcd; // contact input border gray
$contactSeparatorGray: #eeeeee; // contact values separator


// ============================================================================
// SPACING

$topPadding: 100px;
$sides-paddinng: 4em;
$bottom-padding: 1em;
